.ipynb_checkpoints
.idea
pizza_steak
*.zip
*.jpeg
10_food_classes_all_data
saved_trained_model
10_food_classes_10_percent
tensorflow_hub
transfer learning
__MACOSX
__pycache__
10_food_classes_1_percent
ten_percent_model_checkpoints_weights
transfer_learning
06_101_food_class_10_percent_saved_big_dog_model
*.data-*
*.index
101_food_class_10_percent_saved_big_dog_model
101_food_classes_10_percent
checkpoint
confusion_matrix.png
*.csv
downloaded_gs_model
embedding_*.tsv
*.h5
model_6_SavedModel_format
model_logs
pubmed-rct
training_logs
07_efficientnetb0_feature_extract_model_mixed_precision
07_efficientnetb0_fine_tuned_101_classes_mixed_precision
downloaded_fine_tuned_gs_model
skimlit_tribrid_model
model.png
skimlit_example_abstracts.json
datasets
*.pkl
tensorflow-zero-to-mastery/model_experiments