.ipynb_checkpoints
.idea
pizza_steak
*.zip
*.jpeg
10_food_classes_all_data
saved_trained_model
10_food_classes_10_percent
tensorflow_hub
transfer learning
__MACOSX
__pycache__
10_food_classes_1_percent
ten_percent_model_checkpoints_weights
transfer_learning